# ESP32-C3 Target Configuration
CONFIG_IDF_TARGET="esp32c3"

# Flash Configuration (Default 4MB)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# FreeRTOS & System
CONFIG_FREERTOS_HZ=1000

# HTTP Server Configuration
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512

# Wi-Fi Configuration
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# Log Level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
